body {
  background: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.dino {
  width: 60px;
  height: 60px;
  background-image: url('./assets/dino-run.png');
  position: absolute;
  bottom: 0;
  margin-left: 30px;
}

.dino.run {
  background-position-x: 114px;
  animation: dinorun 0.5s infinite steps(2, end);
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url('./assets/cactus.png');
}

.game-over {
  color: #666666;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  color: #666666;
}

@keyframes slideRight {
  from {
    background-position: 70000%;
  }

  to {
    background-position: 0;
  }
}

@keyframes dinorun {
  from {
      background-position-x: 57px;
  }

  to {
      background-position-x: 171px;
  }
}

.background {
  position: absolute;
  bottom: 0;
  background-image: url('./assets/background.png');
  background-repeat: repeat-x;
  animation: slideRight 600s linear infinite;
  width: 100%;
  height: 200px;

}